.iconoHeaderAbrir {
  height: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 2px solid #ffffff;
}

.popup-bg-buscador {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 100000;
}

.popup-buscador {
  position: relative;
  width: 100%;
  height: 315px;
  background-color: #ffffff;
  padding: 10px;
  z-index: 2;
}

.divBuscador {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #009b3e;
}

.divImgVolver {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-flecha-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.inputBuscador {
  width: 90%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
  padding-left: 30px;
}

.divBuscadorProductos{
  height: 83%;
  overflow: auto;
}

.productosBuscados {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e7e7e7;
}

.imgProductoBuscado {
  width: 40px;
  border-radius: 5px;
  margin-right: 10px;
}