/* Categortias */
.cardCategoria {
    margin: 8px;
    position: relative;
}

.cardCategoria-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardCategoriaImg {
    width: 163px;
    height: 214px;
    opacity: 0.85;
    z-index: -1;
    border-radius: 5px;
}

.cardCategoria-h2 {
    position: absolute;
    top: 40%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    padding: 5px;
    /* border: 3px solid; */
    /* text-decoration: underline; */
}

.cardCategoria-a {
    text-decoration: none;
    position: absolute;
    top: 80%;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    /* background-color: #000000; */
    background-color: #02652C;
    font-size: 15px;
    /* font-weight: bold; */
}

/* Productos */

.cardProducto {
    margin: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 340px;
    gap: 8px;
}

.cardProducto h2 {
    width: 150px;
    height: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cardProductoRef {
    color: #888888;
    font-size: 12px;
}

.cardProductoRef span {
    color: #333333;
    font-weight: bold;
}

.cardProductoDescuento {
    font-size: 11px;
    color: #ff0000;
    margin-left: 10px;
}

.cardProductoPrecios {
    display: flex;
}

.cardProductoPrecioNeto {
    font-size: 12px;
    text-decoration: line-through;

    color: #333333;
}

.cardProductoPrecioFinal {
    font-size: 15px;
    font-weight: bold;
}

.cardProductoDiv1 {
    /* height: 225px; */
    display: flex;
    flex-direction: column;
}

.cardProductoDiv1 img {
    width: 150px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.cardProductoDiv1P {
    position: relative;
    font-size: 16px;
    width: 150px;
    height: 30px;
    color: #ffffff;
    background-color: #02652C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0px 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pAñadir {
    margin-left: 10px;
    padding: 1px 8px;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
    /* border-radius: 5px; */
}

.pAñadir:hover {
    opacity: 0.8;
}

.cardProductoDiv1P-talla {
    width: 100px;
    height: 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-list {
    position: absolute;
    list-style-type: none;
    background-color: #ffffff;
    width: 150px;
    top: -380%;
    right: 0;
    /* -decoration: underline; */
    border: 1px solid #000000;
}

.dropdown-list li {
    width: 100%;
    border-bottom: 1px solid #cecece;
    padding: 2px 10px;
    color: #333;
    font-size: 14px;
}

.iconoDeTallas {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tallaSeleccionada {
    background-color: #ffffff;
    color: #000000;
    width: 45px;
    height: 20px;
    border-radius: 5px;
    /* justify-content: space-evenly; */
    gap: 5px;
}

.tallaSeleccionada p {
    font-size: 12px;
}

.cardProducto-masColores {
    width: 105px;
    color: #333;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

.cardProducto-contenedorDecolores {
    width: 150px;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 7px;
    overflow-y: auto;
}

.coloresProductos {
    width: 30px;
    opacity: 0.5;
    border-radius: 5px;
}

.coloresProductos:hover {
    opacity: 1;
}

.coloresProductos.selected {
    opacity: 1;
    border: 1px solid #02652C;
}

/* Confirmar Producto */

.popup-bg-confirmarProducto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-confirmarProducto {
    width: 340px;
    height: 560px;
    background-color: #F7F7F7;
    padding: 10px 20px;
    border: 1px solid #F7F7F7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

.confirmarProducto-close-button-img {
    position: absolute;
    max-width: 30px;
    max-height: 30px;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.popup-confirmarProducto h2 {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.confirmarProducto {
    display: flex;
    flex-direction: row;
    max-width: 350px;
    justify-content: space-between;
}

.confirmarProducto {
    /* width: 290px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    gap: 10px;

}

.confirmarProductoImgPrincipal {
    width: 210px;
    height: 210px;
    border-radius: 10px;
}

.confirmarProductoImgMini {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.confirmarProductoImgSecundarias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 210px;
    overflow-y: scroll;
}

.confirmarProductoTalla {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0px;
    border: 2px solid #02652C;
    border-radius: 5px;
}

.iconoDeTallas-ConfirmarProducto {
    /* width: 25px;
    height: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.confirmarPedidoDesplegarTalla {
    position: absolute;
    right: 15px;
}

.dropdown-list-confirmarProducto {
    position: absolute;
    list-style-type: none;
    background-color: #ffffff;
    width: 100%;
    top: -195px;
    right: 0;
    /* -decoration: underline; */
    border: 2px solid #02652C;
    border-radius: 5px;
}

.dropdown-list-confirmarProducto li {
    width: 100%;
    border-bottom: 1px solid #cecece;
    padding: 11px 10px;
    color: #333;
    font-size: 14px;
}

.cantidad-agregar-confirmarProducto {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 2px;
    bottom: 10px;
}

.agregar-confirmarProducto {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.agregar-confirmarProducto p {
    background-color: #02652C;
    color: #ffffff;
    height: 40px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}


.cantidad-confirmarProducto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cantidad-confirmarProducto input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    padding-top: 2px;
    border: none;
    border: 1px solid #02652C;
    border-radius: 10px;
    text-align: center;
    outline: none;
}

.preciosAñadirProducto {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botonUnidades-confirmarProducto {
    width: 30px;
    height: 30px;
}

.confirmarProducto-informacionExtra {
    margin: 10px 0px;
    gap: 5px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardProductoDetalle {
    margin-top: 5px;
    overflow: scroll;
}

.popup-bg-observacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup-observacion {
    position: relative;
    width: 300px;
    height: auto;
    background-color: #F7F7F7;
    padding: 10px 20px;
    border: 1px solid #F7F7F7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-observacion-titulo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #02652C;
}

.textareaProducto {
    border: 1px solid #888888;
    outline-color: #7faa91;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.botonAñadirObservacion {
    color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
}