.carroComprasIco {
    margin-top: 2px;
}

.DivCarroDeComprasIco {
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.numeroProductosCarro {
    margin-top: 5px;
    width: 25px;
}

.cestaVacia{
    width: 350px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    background-color: #b1ffd0;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: #555555;
}

.popup-bg-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.5);
}

.popupCard {
    height: 100%;
    max-width: 450px;
    width: 100%;
    padding: 0px;
    background-color: #ffffff;
    z-index: 200;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}

.carroComprasContainer1 {
    height: 50px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.carroComprasContainer1 p {
    font-size: 18px;
    color: #555555;
    font-weight: bold;
}

.carroComprasCerrarIco {
    width: 30px;
    height: 30px;
}

.carroComprasContainer2 {
    height: 70%;
    overflow-y: auto;
}

.carroComprasContainer3{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 375px;
    height: 100px;
    justify-content: space-evenly;
    font-weight: bold;
    padding: 10px;
    
}

.carroComprasContainer3 div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.carroComprasContainer3-Descuento{
    color: #ff0000;
}

.popupCard button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #008536;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}




/* Card Producto Carro */

.cardProductoCarro {
    font-size: 12px;
    width: 375px;
    height: 120px;
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #c9c9c9;
}

.cardProductoCarroContainer1Img {
    width: 60px;
    border-radius: 5px;
}

.cardProductoCarroContainer2 {
    width: 180px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.cardProductoCarroContainer2 p {
    color: #777777;
}

.cardProductoCarroContainer2 h3 {
    margin-bottom: 5px;
}

.cardProductoCarroContainer3 {
    width: 100px;
    height: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    justify-content: space-evenly;
}

.CardProducoCarroPrecio {
    font-weight: bold;
}

.CardProducoCarroPrecioPapeleraIco {
    width: 20px;
}