.historial{
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.08);
  height: 100vh;
}

.historial h2{
  padding-top: 10px;
}

/* Card Cotizaciones */

.cardCotizaciones{
  height: 150px;
  max-width: 450px;
  width: 92%;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
}

.cardCotizacionesFechaCotizacionRealizada{
  width: 100%;
  height: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.cardCotizacionesFechaCotizacionRealizada p{
  font-weight: bold;
  font-size: 15px;
}

.cardCotizacionesImg{
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.cardCotizacionesInfo2{
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  gap: 20px;
}

.cardCotizacionesInfo2-2{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardCotizacionesFechaEntregaP{
  color: #008536;
  font-weight: bold;
  font-size: 14px;
}

.cardCotizacionesFechaEntrega{
  font-size: 12px;
}