.pedidoNuevo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-pedidoNuevo {
    width: 320px;
    margin-top: 20px;
}

.select-pedidoNuevo {
    width: 255px;
    height: 30px;
    margin: 0.5px;
    padding: 0px;
    padding-left: 5px;
}

.option-pedidoNuevo {
    height: 30px;
}

.input-container-tercero {
    cursor: pointer;
}

.pedidoNuevoPTercero {
    font-size: 13px;
    padding-left: 5px;
    cursor: pointer;
    width: 250px;
}

.tituloTercero {
    color: #005a26;
    text-align: center;
    margin: 10px;
    font-size: 25px;
}

.input-container-date {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
}

/* Tercero*/

.popup-bg-tercero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
}

.popupTercero {
    width: 300px;
    background-color: #F7F7F7;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #F7F7F7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: relative;
}

.tercerosContainer {
    height: 400px;
    overflow-y: auto;
}


.seleccionTercero {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-bottom: solid #56be59 1px;
}

.imageAvatarDiv {
    height: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageAvatar {
    width: 50px;
    border-radius: 5px;
}

.seleccionP {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.pRazonSocial {
    font-weight: bold;
    font-size: 15px;
}

.pNit {
    color: #b1b1b1;
    font-size: 12px;
}

.inputFiltrar {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}


.inputFiltrar:focus {
    border-color: #56be59;
    box-shadow: 0 0 5px rgb(0, 155, 62, 0.5);
}

.botonFinzalizar {
    background-color: #02652C;
    color: #ffffff;
    height: 35px;
    width: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    font-weight: bold;
}