* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.popup-open {
  overflow: hidden;
  height: 100%;
}

.boton {
  width: auto;
  border: none;
  background-color: #008536;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px;
  border-radius: 5px;
}

.boton:hover {
  cursor: pointer;
  background-color: #009b3e;
}

.mensajeErrorInicioSesion {
  text-align: center;
  color: #ff0000;
  text-align: center;
  margin: auto;
  margin: 5px 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.titulo {
  color: #005a26;
  text-align: center;
  margin: 10px;
  font-size: 28px;
}

.close-button-img {
  position: absolute;
  max-width: 30px;
  max-height: 30px;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}